header {
  position: relative;
  text-align: center;
  border-bottom: $line-border;
  padding-top: 20px;

  .logo {
    img {
      max-width: 400px;
    }
  }

  .main-menu {
    margin-top: 45px;

    li {
      display: inline-block;

      &.active {

        a {
          color: green;
        }
      }

      a {
        font-family: "Raleway-Light";
      }
    }

    li + li:before {
      content: '|';
      padding: 0 10px;
    }
  }

  .mobile-menu,
  a.openMobileMenu {
    display: none;
  }

  @media screen and (max-width: $tablet-min-width ) {
    .main-menu {
      display: none;
    }

    a.openMobileMenu,
    a.closeMobileMenu {
      display: block;
      width: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;

      span {
        height: 5px;
        margin-bottom: 3px;
        background-color: #000;
        display: block;
      }
    }

    .mobile-menu {
      box-sizing: border-box;
      background-color: #d5d5d5;
      text-align: left;
      display: block;
      height: 100%;
      padding: 10px 0;
      z-index: 10;
      position: fixed;
      right: 0;
      top: 0;
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      -webkit-transition: width .5s;
      -moz-transition: width .5s;
      -ms-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s;

      &.is-open {
        width: 320px;
      }

      ul {
        li {
          padding: 7px 0;

          &.active {
            a {
              color: green;
            }
          }
        }
      }
    }
  }

  .contact-info {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: left;

    p {
      margin-bottom: 0rem;
    }
  }

  @media screen
  and (min-width: $tablet-min-width)
  and (max-width: $laptop-min-width ) {
    .contact-info {
      bottom: 64px;
    }
  }

  @media screen
  and (max-width: $tablet-min-width ) {
    .contact-info {
      text-align: center;
      position: relative;
      right: 0;
      bottom: 0;
      top: 20px;
    }
  }

}

@media screen and (max-width: $tablet-min-width ) {
  header {
    padding-bottom: 30px;
  }
}
