header {
  position: relative;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  padding-top: 20px;

  .logo {
    img {
      max-width: 200px;
    }
  }

  .menu {
    margin-top: 45px;

    li {
      display: inline-block;
    }

    li + li:before {
        content: '|';
        padding: 0 10px;
    }
  }

  .info {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
}