footer {
  text-align: center;
  position: relative;
  padding: 20px;
  border-top: $line-border;

  a {
    display: block;
  }

  p {
    &.social {
      a {
        display: inline-block;
        padding: 3px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

}