.container {
  position: relative;
  text-align: center;

  .slider {
    position: relative;
    padding: 15px 0;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;

    .slider-line {
      position: relative;
      width: 100%;
      white-space: nowrap;
      font-size: 0;

      .slider-item {
        display: inline-block;
        width: 100%;

        img {
          max-width: 100%;
        }
      }
    }

    .slider-arrows {
      background: url( '../img/arrows-2x.png' );
      z-index: 2;
      text-align: center;
      position: absolute;
      top: 50%;
      height: 50px;
    }

    .slider-nav {
      z-index: 2;
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      text-align: center;
      background-color: rgba( 56,56,58,.65 );

      .slider-nav-items {
        display: inline-block;

        .slider-nav-item--dot {
          width: 12px;
          height: 12px;
          border: 1px solid #fff;
          border-radius: 100%;
          cursor: pointer;
          margin: 0 3px;
          background-color: rgba( 56,56,58,.65 );

          &.active {
            background-color: #fff;
            cursor: default;
          }
        }
      }
    }
  }

  .categories {
    text-align: center;
    border-top: 2px solid #e0e0e0;

    a {
      display: inline-block;
      max-width: 350px;
      padding: 20px;

      img {
        max-width: 300px;
        margin-top: 15px;
      }
    }
  }
}