.container {
  width: 100%;

  &.interior {
    margin: 40px 0 0px 0;

    .left-menu {
      text-align: left;
      padding-top: 80px;

      nav {
        width: 100%;

        ul {
          li {
            padding: 10px;

            &.active {
              background-color: #d5d5d5;
            }
          }
        }
      }
    }

    @media screen and (max-width: $tablet-min-width ) {
      .left-menu {
        padding-top: 0;
        border-bottom: $line-border;
        margin-bottom: 35px;
      }
    }

    .content {
      padding: 0 20px;

      &.infoPage {
        max-width: 80%;
        margin: 0 auto;
      }

      @media ( max-width: $laptop-min-width ) {
          &.infoPage {
            max-width: 100%;
          }
      }

      .box {
        padding: 10px;
        max-width: 300px;

        &.size16x9 {

        }

        img {
          margin-bottom: 15px;
          width: 100%;
        }

        span {
          font-size: 16px;
          display: block;

          &.title {
            font-size: 20px;
          }
        }
      }

      @media ( max-width: $tablet-min-width ) {
          .box {
            max-width: 100%;
          }
      }

      .info {
        padding: 0 20px;
        text-align: justify;

        ul {
          padding-left: 15px;
        }

        p.note {
          padding-left: 15px;
        }

        p.social {
          text-align: center;

          a {
            padding: 10px;
            img {
              width: 50px;
            }
          }
        }
      }

      form {
        padding: 20px 0;

        .form-group {
          margin: 5px;

          button {
            background-color: #ccc;
          }

          .form-control {
            background-color: #d5d5d5;
          }

          &.comments {
            textarea {
              height: 134px;
            }
          }
        }

        &.contact {
          .form-group {
            textarea {
              height: 86px;
            }
          }
        }
      }

      .imgBlock {
        max-width: 300px;
        padding-bottom: 20px;
        margin-left: 25px;

        img {
          width: 100%;
        }
      }

      .mapBlock {
        padding-bottom: 20px;
        height: 400px;
      }

      @media screen and (max-width: $laptop-min-width ) {
        .imgBlock {
          display: none;
        }

        .mapBlock {
          height: 250px;
        }
      }
    }

    @media ( max-width: $tablet-min-width ) {
      .content {
        text-align: center;
      }
    }
  }
}