.upcase {
  text-transform: uppercase;
}

.lowcase {
  text-transform: uppercase;
}

.strong {
  font-weight: bold;
}

.list-style-none {
  list-style: none;
}

.pullRight {
  float: right;
}

.pullLeft {
  float: left;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.padding-5 {
  padding: 5px
}

.padding-10 {
  padding: 10px
}