@font-face {
  font-family: "Century Gothic";
  src: url( "../../src/fonts/Century Gothic.ttf" ) format("truetype");
}

@font-face {
  font-family: "calibril";
  src: url( "../../src/fonts/calibril.ttf" ) format("truetype");
}
