@font-face {
  font-family: "Raleway-Light";
  src: url( "../../src/fonts/Raleway-Light.ttf" ) format("truetype");
}

@font-face {
  font-family: "calibril";
  src: url( "../../src/fonts/calibril.ttf" ) format("truetype");
}
