@font-face {
  font-family: "bwquintapro-light";
  src: url( "../../src/fonts/bwquintapro-light.otf" ) format("opentype");
}

@font-face {
  font-family: "calibril";
  src: url( "../../src/fonts/calibril.ttf" ) format("truetype");
}
