.align-center-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.align-right-h {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.align-left-h {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.align-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-bottom-v {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.align-top-v {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.align-stretch-h {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}